<!DOCTYPE html>
<html>
  <head>
    <title>Tvsysteem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>
