<%= extends :application do %>

  <div class="sidebar">
    <div class="thumb thumb-newslide">
      <%= link_to new_slide_path, :title => 'New Slide' do %>
        <p><i class="fa fa-plus" aria-hidden="true"></i> New Slide</p>
      <% end %>
    </div>

    <% @slides.each do |slide| %>
      <% if(@slide.present? && @slide.id == slide.id) %>
      <div class="thumb active">
      <% else %>
      <div class="thumb">
      <% end %>
        <%= link_to edit_slide_path(slide), :title => 'Edit' do %>
          <%= image_tag slide.content.image(:thumb) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="main">
    <%= yield %>
  </div>
<% end %>
